.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
**/__pycache__/**
.serverless
**/*.mine
*.org
frontend/setupVitest.js
frontend/src/components/
frontend/src/routes/index.css
frontend/vitest.config.ts
rest/.deps/
rest/function_app.py
rest/requirements*.txt
rest/rest*.zip
rest/test.py
temp/
tenants/
