.gitattributes def=https://github.com/acmsl-def/licdata artifact=https://github.com/acmsl/licdata-artifact
serverless.yml filter=git-crypt diff=git-crypt
clients/data.json filter=git-crypt diff=git-crypt
clients/*/data.json filter=git-crypt diff=git-crypt
clients/**/*.json filter=git-crypt diff=git-crypt
